# =========================
# Django core settings
# =========================
SECRET_KEY=*****************
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Frontend URL used in emails, redirects and CORS
FRONTEND_URL=http://localhost:5173

# =========================
# PostgreSQL database
# =========================
DB_NAME=proxyo_local
DB_USER=proxyo_user
DB_PASSWORD=proxyo_password
DB_HOST=db
DB_PORT=5432

# =========================
# Redis / Django Channels
# =========================
REDIS_HOST=redis
REDIS_PORT=6379

# =========================
# Email SMTP
# =========================
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_app_password

# =========================
# Stripe
# =========================
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxx

# =========================
# Optional local ngrok
# =========================
NGROK_AUTHTOKEN=